<div class="container mt-5">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" [(ngModel)]="recipeName" id="name" required>
    <div *ngIf="recipeName === ''" class="text-danger">Name is required!</div>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" [(ngModel)]="recipeDescription" id="description" required>
    <div *ngIf="recipeDescription === ''" class="text-danger">Description is required!</div>
  </div>

  <div class="form-group">
    <label for="ingredients">Ingredients (comma separated):</label>
    <input type="text" class="form-control" [(ngModel)]="ingredients" id="ingredients" required>
    <div *ngIf="ingredients === ''" class="text-danger">Ingredients are required!</div>
  </div>

  <div class="form-group">
    <label for="instructions">Instructions:</label>
    <textarea class="form-control" [(ngModel)]="instructions" id="instructions" rows="3" required></textarea>
    <div *ngIf="instructions === ''" class="text-danger">Instructions are required!</div>
  </div>

  <div class="form-group">
    <label for="image">Image:</label>
    <input type="file" class="form-control" (change)="onImageSelected($event)" id="image" required>
    <div *ngIf="!imageFile" class="text-danger">Image is required!</div>
  </div>

  <button class="btn btn-primary" (click)="addRecipe()" [disabled]="!isValid()" routerLink="/list" style="margin-top: 0.65em">Add Recipe</button>
</div>
